/*Header Part of the CSS*/
html, body {
    padding: 0px;
    margin: 0px;
}
header{
    height: 50px;
    justify-content: space-between; /*linha que separa o logo da navbar, pois cria um espa;o entre elas*/
    display: flex;
    font-size: 18px;
    background-color:#1F2937;
    padding: 10px 20px;
    color: white;
}
.NavLogo{
    display: flex;
    align-items: center;
}
.NavLogo img{
    width: auto;
    height: 100%;
}
.Navbar ul{
    list-style: none;
    gap: 10px;
    display: flex;
}
.Navbar li{
    padding: 0px 5px;
}

/*Body part of the CSS*/
.container{
    display: flex;
    flex-direction: column;
    height: 180vh;
}
.p{
    background-color: #1F2937;
}
.b{
    background-color: #e0e5ed;
}
.c{
    background-color: #afb8c8;
}
.container .linha{
    flex: 1;
}


