/*Header Part of the CSS*/
html, body {
    padding: 0px;
    margin: 0px;
}
header{
    height: 50px;
    justify-content: space-between; /*linha que separa o logo da navbar, pois cria um espa;o entre elas*/
    display: flex;
    font-size: 18px;
    background-color:#1F2937;
    padding: 10px 200px;
    color: white;
}
.NavLogo{
    display: flex;
    align-items: center;
}
.NavLogo img{
    width: auto;
    height: 100%;
}
.Navbar ul{
    list-style: none;
    gap: 10px;
    display: flex;
}
.Navbar li{
    padding: 0px 5px;
}

/*Body part of the CSS*/
.container{
    display: flex;
    flex-direction: column;
    height: 180vh;
}
.p{
    background-color: #1F2937;
}
.b{
    background-color: #e0e5ed;
}
.c{
    background-color: #afb8c8;
}
.container .linha{
    flex: 1;
    display: flex;
    gap: 25px;
    padding: 50px 200px;
}
/*Content part of the body*/
.container .linha div{
    flex: 1;
}
h1{
    font: 48px ;
    font-size:bold; 
    color: #f9faf8;
}
h3{
    font: 18px;
    color: #E5E7EB;
}
button{
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border: none;
}
#Pimagem{
    background-color: gray;
    width: 100%; /* Largura desejada da imagem */
    height: 100%; /* Altura desejada da imagem */
    background-image: url('#');  /*URL da imagem de espaço reservado */
    background-size: cover; /* A imagem de fundo cobrirá a área da div */
    background-repeat: no-repeat; /* A imagem de fundo não se repetirá */
    background-position: center center; /* Centralizar a imagem de fundo */
}



